body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: rgb(74, 61, 61);
}
h3{
    color: black;
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: black;
}
.box{
    border: 2px solid black;
    padding: 15px; margin: 10px 0;
    background-color: lime;
    border-radius: 5px;
}
